@model PasswordResetDto
@{
}
<div class="mx-auto rounded border p-4" style="width:400px">
	<h2 class="text-center m-3">
		Reset Password

	</h2>
	<hr/>

	<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
	@if (ViewBag.ErrorMessage != null)
	{
		<div class="alert alert-danger  alert-dismissible fade show" role="alert">
			<strong>@ViewBag.ErrorMessage</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	else if (ViewBag.SuccessMessage != null)
	{
		<div class="alert alert-success  alert-dismissible fade show" role="alert">

		<strong>@ViewBag.SuccessMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	<form method="post">


		<div class="mb-3">
			<label class="form-label">Email</label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>



		</div>





<div class="mb-3">


	<label class="form-label">New Password</label>
	<input asp-for="Password" class="form-control" type="password" />
	<span asp-validation-for="Password" class="text-danger"></span>



</div>

		<div class="row mb-3">
			<label class="col-sm-4 col-form-label">Confirm Password*</label>
			<div class="col-sm-8">
				<input class="form-control" type="password" asp-for="ConfirmPassword">
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
		</div>


		<div class="row mb-3">
			<div class=" col d-grid">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<div class="col d-grid">
				<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">
					Login
				</a>
			</div>
		</div>
</form>
</div>